@font-face {
  font-family: 'Titan One', cursive;
  src: url('../fonts/TitanOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
