@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');

@font-face {
  font-family: 'Titan One', cursive;
  src: url('../fonts/TitanOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

h2 {
  font-family: 'Titan One', cursive, sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Titan One', cursive;
  text-align: center;
  font-weight: normal;
}

h4 {
  font-family: 'Titan One', cursive;
  text-align: center;
  font-weight: bold;
}

p {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 2em;
  text-align: center;
}

.change-01{
  text-transform: capitalize;
  letter-spacing: normal;
}
