body {
  background-color: #fdfdf1;
}

.scene {
  position: absolute;
  left: 25px;
  top: 786px;
}

.woman {
  position: absolute;
  left: 70px;
  top: 10px;
  z-index: 2;
}

.text3 {
  position: absolute;
  left: 30px;
  top: 1000px;
  width: 500;
  height: 200;
  text-align: justify;
  letter-spacing: normal;
  font-family: sans-serif;
}

.filterqueenimages {
  position: absolute;
  left: 30px;
  top: 1000px;
  width: 400;
  height: 300;
}

.text4 {
  position: absolute;
  left: 20px;
  top: 1500px;
  width: 500;
  height: 300;
  text-align: justify;
  letter-spacing: normal;
  font-family: serif;
}

.head1 {
  font-family: serif;
  font-size: 32px;
  font-style: italic;
  position: absolute;
  width: 250px;
  left: 400px;
  top: 28px;
  rotation: 10;
}

.head2 {
  font-family: serif;
  font-size: 32px;
  font-style: italic;
  position: absolute;
  left: 600px;
  top: 30px;
  width: 250px;
  rotation: -10;
}

.head4 {
  font-family: serif;
  font-size: 21px;
  position: absolute;
  left: 300px;
  top: 100px;
  width: 675px;
}

.filterqueen {
  font-family: serif;
  font-size: 28px;
  background-color: black;
  position: absolute;
  left: 460px;
  top: 210px;
  width: 360px;
}

.text1 {
  font-family: serif;
  font-size: 10px;
  position: absolute;
  left: 430px;
  top: 310px;
  width: 320px;
}

.iconinside {
  position: absolute;
  left: 400px;
  top: 380px;
  width: 180px;
  height: 180px;
}

.iconoutside {
  position: absolute;
  left: 420px;
  top: 520px;
  width: 150px;
  height: 180px;
  z-index: 2;
}

.iconwastebasket {
  position: absolute;
  left: 370px;
  top: 250px;
  width: 500;
  height: 300;
  z-index: 2;
}

.Honest {
  left: 600px;
  top: 350px;
  width: 150px;
}

.GloryBe {
  top: 350px;
  left: 600px;
  width: 400px;
}

.Whee-e-e {
  left: 600px;
  top: 500px;
  width: 400px;
}

.text2 {
  font-family: serif;
  font-size: 20px;
  position: absolute;
  left: 524px;
  top: 754px;
  width: 415px;
  height: 228px;
  padding: 4px;
  text-align: justify;
}

.logo {
  position: absolute;
  left: 300px;
  top: 1000px;
  width: 500;
  height: 300;
  z-index: 2;
}

.guarantee {
  position: absolute;
  left: 600px;
  top: 1400px;
  width: 500;
  height: 300;
  z-index: 3;
}

.coupon {
  position: absolute;
  left: 400px;
  top: 1400px;
  width: 300;
  height: 200;
  z-index: 1;
  padding-left: 10px;
  border: 6px dashed black;
}
